<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#CS2PP22-Programming-in-Python-for-Data-Science" data-toc-modified-id="CS2PP22-Programming-in-Python-for-Data-Science-1">CS2PP22 Programming in Python for Data Science</a></span><ul class="toc-item"><li><span><a href="#Coursework-1:-Python-Basics,-Data-Preprocessing,-Exploratory-Data-Analysis,-and-Python-Classes" data-toc-modified-id="Coursework-1:-Python-Basics,-Data-Preprocessing,-Exploratory-Data-Analysis,-and-Python-Classes-1.1">Coursework 1: Python Basics, Data Preprocessing, Exploratory Data Analysis, and Python Classes</a></span></li><li><span><a href="#Task-1" data-toc-modified-id="Task-1-1.2">Task 1</a></span></li><li><span><a href="#Task-2" data-toc-modified-id="Task-2-1.3">Task 2</a></span><ul class="toc-item"><li><span><a href="#2.0.-Analysis-Preparation" data-toc-modified-id="2.0.-Analysis-Preparation-1.3.1">2.0. Analysis Preparation</a></span><ul class="toc-item"><li><span><a href="#2.0.1.-Import-[2-marks]" data-toc-modified-id="2.0.1.-Import-[2-marks]-1.3.1.1">2.0.1. Import [2 marks]</a></span></li><li><span><a href="#2.0.2.-Load-data-[1-mark]" data-toc-modified-id="2.0.2.-Load-data-[1-mark]-1.3.1.2">2.0.2. Load data [1 mark]</a></span></li><li><span><a href="#2.0.3.-Display-data-[1-mark]" data-toc-modified-id="2.0.3.-Display-data-[1-mark]-1.3.1.3">2.0.3. Display data [1 mark]</a></span></li><li><span><a href="#2.0.4.-Display-data-information-[1-mark]" data-toc-modified-id="2.0.4.-Display-data-information-[1-mark]-1.3.1.4">2.0.4. Display data information [1 mark]</a></span></li></ul></li><li><span><a href="#2.1.-Data-Cleaning" data-toc-modified-id="2.1.-Data-Cleaning-1.3.2">2.1. Data Cleaning</a></span><ul class="toc-item"><li><span><a href="#2.1.1.-Remove-columns-[2-marks]" data-toc-modified-id="2.1.1.-Remove-columns-[2-marks]-1.3.2.1">2.1.1. Remove columns [2 marks]</a></span></li><li><span><a href="#2.1.2.-Rename-columns-[2-marks]" data-toc-modified-id="2.1.2.-Rename-columns-[2-marks]-1.3.2.2">2.1.2. Rename columns [2 marks]</a></span></li><li><span><a href="#2.1.3.-Remove-duplicated-rows-[3-marks]" data-toc-modified-id="2.1.3.-Remove-duplicated-rows-[3-marks]-1.3.2.3">2.1.3. Remove duplicated rows [3 marks]</a></span></li><li><span><a href="#2.1.4.-Null-values-[2-marks]" data-toc-modified-id="2.1.4.-Null-values-[2-marks]-1.3.2.4">2.1.4. Null values [2 marks]</a></span></li><li><span><a href="#2.1.5.-Handling-missing-values-[3-marks]" data-toc-modified-id="2.1.5.-Handling-missing-values-[3-marks]-1.3.2.5">2.1.5. Handling missing values [3 marks]</a></span></li><li><span><a href="#2.1.6.-Reasoning-[3-marks]" data-toc-modified-id="2.1.6.-Reasoning-[3-marks]-1.3.2.6">2.1.6. Reasoning [3 marks]</a></span></li></ul></li><li><span><a href="#2.2.-Creating-New-Columns" data-toc-modified-id="2.2.-Creating-New-Columns-1.3.3">2.2. Creating New Columns</a></span><ul class="toc-item"><li><span><a href="#2.2.1.-Add-HP_Type-[2-marks]" data-toc-modified-id="2.2.1.-Add-HP_Type-[2-marks]-1.3.3.1">2.2.1. Add <code>HP_Type</code> [2 marks]</a></span></li><li><span><a href="#2.2.2.--Add-Price_class-[2-marks]" data-toc-modified-id="2.2.2.--Add-Price_class-[2-marks]-1.3.3.2">2.2.2.  Add <code>Price_class</code> [2 marks]</a></span></li><li><span><a href="#2.2.3-Save-modified-data-[1-mark]" data-toc-modified-id="2.2.3-Save-modified-data-[1-mark]-1.3.3.3">2.2.3 Save modified data [1 mark]</a></span></li></ul></li><li><span><a href="#2.3.-Exploratory-Data-Analysis" data-toc-modified-id="2.3.-Exploratory-Data-Analysis-1.3.4">2.3. Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#2.3.1.-Mean-price-[1-mark]" data-toc-modified-id="2.3.1.-Mean-price-[1-mark]-1.3.4.1">2.3.1. Mean price [1 mark]</a></span></li><li><span><a href="#2.3.2.-Count-cars-by-year-[1-mark]" data-toc-modified-id="2.3.2.-Count-cars-by-year-[1-mark]-1.3.4.2">2.3.2. Count cars by year [1 mark]</a></span></li><li><span><a href="#2.3.3.-Unique-Makes-[1-mark]" data-toc-modified-id="2.3.3.-Unique-Makes-[1-mark]-1.3.4.3">2.3.3. Unique Makes [1 mark]</a></span></li><li><span><a href="#2.3.4.-Fuel-efficiency-[2-marks]" data-toc-modified-id="2.3.4.-Fuel-efficiency-[2-marks]-1.3.4.4">2.3.4. Fuel efficiency [2 marks]</a></span></li><li><span><a href="#2.3.5.-Cross-tabulation-[2-marks]" data-toc-modified-id="2.3.5.-Cross-tabulation-[2-marks]-1.3.4.5">2.3.5. Cross-tabulation [2 marks]</a></span></li><li><span><a href="#2.3.6.-Isolating-specific-features-[1-mark]" data-toc-modified-id="2.3.6.-Isolating-specific-features-[1-mark]-1.3.4.6">2.3.6. Isolating specific features [1 mark]</a></span></li><li><span><a href="#2.3.7.-Isolating-specific-features-[2-marks]" data-toc-modified-id="2.3.7.-Isolating-specific-features-[2-marks]-1.3.4.7">2.3.7. Isolating specific features [2 marks]</a></span></li><li><span><a href="#2.3.8.-Counting-specific-features-[2-marks]" data-toc-modified-id="2.3.8.-Counting-specific-features-[2-marks]-1.3.4.8">2.3.8. Counting specific features [2 marks]</a></span></li><li><span><a href="#2.3.9.-Grouping-data-[2-marks]" data-toc-modified-id="2.3.9.-Grouping-data-[2-marks]-1.3.4.9">2.3.9. Grouping data [2 marks]</a></span></li><li><span><a href="#2.3.10.-Reporting-extreme-values-[1-mark]" data-toc-modified-id="2.3.10.-Reporting-extreme-values-[1-mark]-1.3.4.10">2.3.10. Reporting extreme values [1 mark]</a></span></li></ul></li></ul></li><li><span><a href="#Task-3" data-toc-modified-id="Task-3-1.4">Task 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#3.1-Prepare-data-[5-marks]" data-toc-modified-id="3.1-Prepare-data-[5-marks]-1.4.0.1">3.1 Prepare data [5 marks]</a></span></li><li><span><a href="#3.2.-Define-a-Tournament-class-[30-marks]" data-toc-modified-id="3.2.-Define-a-Tournament-class-[30-marks]-1.4.0.2">3.2. Define a <code>Tournament</code> class [30 marks]</a></span></li><li><span><a href="#3.3.-Execute-your-Tournament-class-[5-marks]" data-toc-modified-id="3.3.-Execute-your-Tournament-class-[5-marks]-1.4.0.3">3.3. Execute your <code>Tournament</code> class [5 marks]</a></span></li><li><span><a href="#3.4.-Compare-the-results-of-multiple-Tournament-executions-[5-marks]" data-toc-modified-id="3.4.-Compare-the-results-of-multiple-Tournament-executions-[5-marks]-1.4.0.4">3.4. Compare the results of multiple <code>Tournament</code> executions [5 marks]</a></span></li></ul></li></ul></li></ul></li></ul></div>

<hr style="border:2px solid black"> </hr>

**Front page of the student’s submission 
(the following are compulsory):**

Module Code: 29012845

Assignment report Title: Individual Coursework

Date (when the work completed): 08/02/24

Actual hrs spent for the assignment: 8hrs

<hr style="border:2px solid black"> </hr>

# CS2PP22 Programming in Python for Data Science

<h2 style="color:Crimson;">Coursework 1: Python Basics, Data Preprocessing, Exploratory Data Analysis, and Python Classes</h2>

**Instructions:** 
- Write Python code to perform each of the following sub-tasks.
    - Try to follow the PEP 8 – Style Guide for Python Code: https://peps.python.org/pep-0008
    - Function and variable type annotations are not required.
$$$$

- Most of the required techniques are covered in the Lectures and Practicals during Weeks 1-4.
$$$$

- Some parts of this assignment may require further self-study of Python documentations or other resources.
$$$$

- To locate appropriate methods to complete these activities and for details regarding their proper implementation, you may wish to refer to: 
    - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html 
    - https://numpy.org/doc/stable/reference/
$$$$

- You may also refer to other documentation/self-study resources, such as those suggested in the Lecture Notes or a multitude of other resources that you have independently discovered.
$$$$

- When you are asked to **display** a `pandas` `DataFrame`, it is acceptable to show the `head()`, `tail()`, or both of these, as display of the full dataset would otherwise be excessive.
$$$$

- Blank code and markdown cells are provided for each sub-task, however you will likely need to create additional cells to provide further explanation or sensibly separate steps toward solution.

**Items to be submitted:**
1. A modified version of this Jupyter notebook file (`.ipynb`)
    - This is to be submitted already **fully executed** in a serial fashion, from top to bottom.
    - Try **Kernel** --> **Restart & Run All** to verify that this works as intended.
    - Add a cell at the top of the notebook to note the installation method and version of any additional Python packages not included in the module's Anaconda distribution or that was not instructed to be installed during the module.
$$$$

3. A copy of this notebook (**with the `CS2PP22_CW1` file name** as in Item 1.) but in `.html` format, which displays all content independently.  This can be included in the overall assessment archive, but an unarchived copy should be submitted to Blackboard alongside the archive.
$$$$

4. `cardata_modified.csv`
$$$$

6. *Optional*: Any functions and classes created for this Task may be written in a separate `.py` module file and `import`ed to this space.  These should be stored in the submitted archive at the same directory level as the modified notebook (Item 1.).


**Marking scheme:**

Marks | Section
-|:-
5 | **Organisation**: Preparation and submission of all required files
10 | **1**: Network Representations
5 | **2.0**: Analysis Preparation
15 |**2.1**: Data Cleaning
5 | **2.2**: Creating New Columns
15 |**2.3**: Exploratory Data Analysis
5 |**3.1**: Data Preparation
30 |**3.2**: Class Definition
5 |**3.3**: Class Execution
5 |**3.4**: Class Comparisons

<hr style="border:2px solid black"> </hr>
<h2 style="color:Crimson;">Task 1</h2>

**[10 marks]**


- A **network** or **graph**, $G$, consists of a set of **nodes** (or vertices), $V$, and edges, $E$.
$$$$

- An edge is a pair of nodes $(a,b)$ denoting the nodes connected by the edge.

$$ G = (V,E) $$

![CompareNetworks.png](images/CompareNetworks.png)

- Networks can be represented in various different structures.
$$$$

- We can represent networks using a simple list of all the nodes and all the edges in the network:

$$ V = {a,b,c,d,e}  $$

![Edges.png](images/Edges.png)

- Another data structure that we could use is to build a **neighbour list** for every node.
$$$$

- For every node, $x$, we maintain a list of all the neighbours, $y$.
![Neighbours.png](images/Neighbours.png)

---
**Data Reference:**

The file `data/dolphins.tsv` contains a representation of a social network dataset where dolphins have links between them if they frequently associated with one another.
- Taken from the Koblenz Network Collection by the University of Koblenz–Landau.
Dolphins network dataset – KONECT, April 2017.
http://konect.cc/networks/dolphins/.
    
To read in the *tab separated* network file, we need to read each line in the file. To do this we just treat the file object as an iterator.
- This is an example of using a context manager: https://book.pythontips.com/en/latest/context_managers.html
$$$$

- Here `line` will be a string for each line in the file. The `.split(x)` method splits a string into a list of substrings for each occurrence of the character `x` (in this case the tab: `\t`).


This code reads the file and places the data in an edge list representation:
```python
# Create an empty edge set
edges = set()

with open('data/dolphins.tsv', 'r') as file:
    for line in file:
        a, b = line.split('\t')
        e = (int(a), int(b))
        edges.add(e)
        
        
```
---
**Instructions:**
1. Begin with the resulting `edges` variable.$$$$
2. [*1 mark*] Use a `for` loop to populate a `dict` that will contain the **neighbour list** network representation.$$$$
3. [*1 mark*] **Verify** that your solution matches that for nodes $55$, $2$, and $20$ (shown below).$$$$

4. [*1 mark*] With your entire neighbour list code in a single Jupyter notebook cell, use the `timeit` Magic command to report the performance of your code, executing **19 runs** of **2000 loops** each.
    - There should be **no network data output from this cell**.$$$$
5. [*1 mark*] Discuss your solution, describing the Python constructs/tools you have used,  and the design of your implementation.$$$$
6. [*3 marks*] Design, implement, and verify the results of a **second, less efficient** implementation and record its equivalent performance metrics as above.$$$$
7. [*1 mark*] Discuss your **second** solution, describing the Python constructs/tools you have used,  and the design of your less efficient implementation.$$$$
8. [*2 marks*] Explain why the efficiency differs between your two implementations.

---
There will be many nodes in the final dataset.  The result should have the form:
```python
{55: {2, 7, 8, 14, 20, 42, 58},
 2: {18, 20, 27, 28, 29, 37, 42, 55},
 20: {2, 8, 31, 55},...
 
```

This shows that dolphin `55` is frequently associated with dolphins `2, 7, 8, 14, 20, 42, and 58`.

In [1]:
# Begin with edges

edges = set()

with open('data/dolphins.tsv', 'r') as file:
    for line in file:
        a, b = line.split('\t')
        e = (int(a), int(b))
        edges.add(e)

dict = {}

for edge in edges:
    if edge[0] not in dict:
        dict[edge[0]] = set() # If the first edge is not in the dictionary, initialise the key-value pair
    dict[edge[0]].add(edge[1]) # Add the edge to the dictionary
    if edge[1] not in dict:
        dict[edge[1]] = set()
    dict[edge[1]].add(edge[0])

In [2]:
# Verifying my more efficient solution

dict

{55: {2, 7, 8, 14, 20, 42, 58},
 2: {18, 20, 27, 28, 29, 37, 42, 55},
 20: {2, 8, 31, 55},
 42: {2, 10, 14, 55, 58},
 31: {8, 20, 29, 43, 48},
 29: {2, 9, 21, 31, 48},
 10: {6, 7, 14, 18, 33, 42, 58},
 6: {10, 14, 57, 58},
 37: {2, 21, 24, 38, 40, 41, 60},
 24: {37, 46, 52},
 43: {1, 3, 11, 31, 48, 51},
 3: {11, 43, 45, 62},
 41: {1, 8, 15, 16, 34, 37, 38, 53},
 15: {1, 4, 17, 25, 34, 35, 38, 39, 41, 44, 51, 53},
 52: {5, 12, 19, 22, 24, 25, 30, 46, 51, 56},
 58: {6, 7, 10, 14, 18, 40, 42, 49, 55},
 40: {37, 58},
 60: {4, 9, 16, 37, 46},
 51: {15, 17, 21, 34, 43, 46, 52},
 34: {13, 15, 17, 22, 35, 38, 39, 41, 44, 51},
 59: {39},
 39: {15, 17, 21, 34, 44, 45, 53, 59},
 49: {58},
 46: {9, 16, 19, 22, 24, 25, 30, 38, 51, 52, 60},
 18: {2, 7, 10, 14, 23, 26, 28, 32, 58},
 21: {9, 17, 19, 29, 37, 39, 45, 48, 51},
 9: {4, 21, 29, 38, 46, 60},
 44: {15, 30, 34, 38, 39, 47, 54},
 38: {9, 15, 17, 22, 34, 35, 37, 41, 44, 46, 62},
 45: {3, 21, 35, 39},
 17: {15, 21, 34, 38, 39, 51},
 48: {1, 11, 21, 29, 31, 43},
 22: {19, 30, 34, 38, 46, 52},
 19: {16, 21, 22, 25, 30, 46, 52},
 30: {11, 19, 22, 25, 36, 44, 46, 52, 53},
 11: {1, 3, 30, 43, 48},
 8: {20, 28, 31, 41, 55},
 1: {11, 15, 16, 41, 43, 48},
 62: {3, 38, 54},
 50: {35, 47},
 47: {44, 50},
 54: {44, 62},
 57: {6, 7},
 26: {18, 27, 28},
 14: {6, 7, 10, 18, 33, 42, 55, 58},
 56: {16, 52},
 16: {1, 19, 25, 41, 46, 56, 60},
 28: {2, 8, 18, 26, 27},
 12: {52},
 53: {15, 30, 39, 41},
 32: {18},
 61: {33},
 33: {10, 14, 61},
 7: {10, 14, 18, 55, 57, 58},
 5: {52},
 4: {9, 15, 60},
 35: {15, 34, 38, 45, 50},
 25: {15, 16, 19, 30, 46, 52},
 27: {2, 26, 28},
 13: {34},
 23: {18},
 36: {30}}

In [3]:
%%timeit -r 19 -n 2000
# Testing the performance of my more efficient solution

dict = {}

for edge in edges:
    if edge[0] not in dict:
        dict[edge[0]] = set()
    dict[edge[0]].add(edge[1])
    if edge[1] not in dict:
        dict[edge[1]] = set()
    dict[edge[1]].add(edge[0])

# Testing time to get the neighbors of a node too
dict[55]

59.1 µs ± 7.11 µs per loop (mean ± std. dev. of 19 runs, 2,000 loops each)

**Discussion:**

My solution is to convert the set of edges into a dictionary using a for loop. Each itteration checks if the dictionary already contains either part of the current edge set tuple and adds them to the dictionary. It then appends both the values in the tuple to dictionary where they key is the other value in the tuple. 

The average time for this to complete is ~40µs. This method has an O(n) time complexity as it requires a for loop to iterate through the set of edges. This means that the time taken to run the code will increase linearly with the size of the dataset. As such, the larger the dataset, the longer the code will take to run.

In [4]:
# Verifying my less efficient solution

# print(max(edges)) # largest node is 62

# This function takes in a matrix and a node
def get_connections(mat, node):
    # Empty list
    connections = []
    # For all nodes in the 1d array in mat[node-1]
    for i in range(len(mat[node-1])):
        # 1 means it's connected
        if mat[node-1][i] == 1:
            # Append i + 1 because i is always 1 less than the node
            connections.append(i+1)
    return connections

# Initialise 2D matrix where all values are set to 0
adjacency_matrix = [[0 for i in range(62)] for j in range(62)]

# Iterates over all edges and sets the connection to 1
for edge in edges:
    adjacency_matrix[edge[0]-1][edge[1]-1] = 1
    adjacency_matrix[edge[1]-1][edge[0]-1] = 1

# list all connections to node 55
print(get_connections(adjacency_matrix, 55), get_connections (adjacency_matrix, 2), get_connections(adjacency_matrix, 20))

[2, 7, 8, 14, 20, 42, 58] [18, 20, 27, 28, 29, 37, 42, 55] [2, 8, 31, 55]

In [5]:
%%timeit -r 19 -n 2000
# Testing the performance of my less efficient solution -- testing setting up the adjacency matrix and getting connections

adjacency_matrix = [[0 for i in range(62)] for j in range(62)]

for edge in edges:
    adjacency_matrix[edge[0]-1][edge[1]-1] = 1
    adjacency_matrix[edge[1]-1][edge[0]-1] = 1

get_connections(adjacency_matrix, 55)

The slowest run took 5.44 times longer than the fastest. This could mean that an intermediate result is being cached.
516 µs ± 144 µs per loop (mean ± std. dev. of 19 runs, 2,000 loops each)

**Discussion:**

This method uses an adjacency matrix. It creates a matrix of zeros with the size of the matrix being the number of nodes in the dataset. It then iterates through the set of edges and changes the value of the matrix at the index of the two nodes in the edge set to 1. To look up the neighbours of a node, it iterates through the row of the matrix at the index of the node and adds the index of any column that has a value of 1. This takes around 100 µs to complete the matrix setup and lookup the connections to node 55. This is almost 60 µs longer than the dictionary method.

<hr style="border:2px solid black"> </hr>
<h2 style="color:Crimson;">Task 2</h2>

---
**Data Reference:**

- Car Features and MSRP Data:	`cardata.csv`
$$$$

- This dataset includes car features such as make, model, year, and engine type, as scraped from Edmunds and Twitter.  It is often used to develop models to predict car prices based on their other characteristics. 
$$$$

- Source: https://www.kaggle.com/datasets/CooperUnion/cardataset
$$$$

- Each **row** corresponds to a single kind of vehicle.
$$$$

- The **columns** correspond to:

Column | Description
-|:-
Make | Car maker
Model | Car model
Year | Car year (Marketing)
Engine Fuel Type | Type of engine fuel category
Engine HP | Engine horsepower (HP)
Engine Cylinders | Number of engine cylinders
Transmission Type | Type of transmission category
Driven_Wheels | Drive wheel category
Number of Doors | Number of doors
Market Category | Market category
Vehicle Size | Vehicle size category
Vehicle Style | Vehicle style category
highway MPG | Highway fuel efficiency in miles per gallon
city mpg | City fuel efficiency in miles per gallon
Popularity | Twitter-based popularity metric
MSRP | Manufacturer suggested retail price (USD)

<hr style="border:2px solid black"> </hr>

### 2.0. Analysis Preparation

**[5 Marks]**

---

#### 2.0.1. Import [2 marks]

Import the libraries that will be used in your solution.

In [6]:
import pandas as pd

---

#### 2.0.2. Load data [1 mark]

Locate the data file `cardata.csv` within the zipped file you have downloaded from Blackboard (under `./data/Task1/`) and read the data from file to a `pandas` `DataFrame`.

In [7]:
cars = pd.read_csv('data/cardata.csv')

---

#### 2.0.3. Display data [1 mark]

Display the first 5 rows of the `DataFrame`.

In [8]:
# The head() function, by default, returns the first five rows of the dataset. You can specify the number of rows you want to see as an argument to the function.
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

---

#### 2.0.4. Display data information [1 mark]

In one or more code cells, display the following information of the `DataFrame`:
- number of rows
- number of columns
- column names and data types

Following the display of this information, use a Markdown cell to write:
- one sentence summarising the numbers of rows and columns,
- and one sentence describing the unique data types.

In [9]:
print(
    f"Number of rows: {cars.shape[0]}\nNumber of columns: {cars.shape[1]}\nColumn names and data types:\n{cars.dtypes}")

Number of rows: 11914
Number of columns: 16
Column names and data types:
Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

This `DataFrame` contains 11,914 rows and 16 columns.

The data types present include strings (recorded as `object`), 64-bit integers (`int64`), and 64-bit floating point values (`float64`).

<hr style="border:2px solid black"> </hr>

### 2.1. Data Cleaning

**[15 Marks]**

---

#### 2.1.1. Remove columns [2 marks]

Drop the following columns from the `DataFrame`:
- Engine Fuel Type
- Market Category
- Number of Doors
- Vehicle Size

Then, **display** the resulting `DataFrame` and **write a statement**, explaining why one might choose to exclude these features.

In [10]:
cars = cars.drop(['Engine Fuel Type', 'Market Category',
                  'Number of Doors', 'Vehicle Size'], axis=1)


cars.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,34500

These columns are dropped as they are not relevant to the analysis that will be performed and are not meaningful. For example, vehicle size is either "Compact", "Midsize", or "Large", which is not a useful feature for this analysis. Similarly, the number of doors is either 2 or 4, which will have no barring on the price of the vehicle. Market category is a string with multiple categories in it, which will be hard to analyse. Finally, engine fuel type is also a string which cannot be analysed.

---

#### 2.1.2. Rename columns [2 marks]

Rename the following columns:

Column |New name
-|:----- 
Engine HP|HP
Engine Cylinders|Cylinders
Transmission Type|Transmission
Driven_Wheels|Drive Mode
highway MPG|MPG-H
city mpg|MPG-C
MSRP|Price

Then, **display** the resulting `DataFrame` and **write a statement**, discussing why one might change the names in this way.

In [11]:
# rename() can take a dictionary. I have passed this dictionary into the parameters directly. I could have also stored it in a variable first
cars = cars.rename(columns={'Engine HP': 'HP',
                            'Engine Cylinders': 'Cylinders',
                            'Transmission Type': 'Transmission',
                            'Driven_Wheels': 'Drive Mode',
                            'highway MPG': 'MPG-H',
                            'city mpg': 'MPG-C',
                            'MSRP': 'Price'})

cars.head()

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,34500

It is useful to change the names in this way as it makes the names more concise and easier to read.

---

#### 2.1.3. Remove duplicated rows [3 marks]



Use an `f-string` to `print()` the number of irrelevant duplicate rows (count repeats only, not both originals and repeats).

Drop the duplicated rows, retain the resulting `DataFrame`, and show the resulting number of rows in the new `DataFrame`.

In [12]:
print(f"Number of duplicate rows: {cars.duplicated().sum()}")

cars = cars.drop_duplicates()
print(f"Number of rows in the new DataFrame: {cars.shape[0]}")

Number of duplicate rows: 803
Number of rows in the new DataFrame: 11111

---

#### 2.1.4. Null values [2 marks]

Report the number of null values remaining in each column.

In [13]:
cars.isnull().sum()

Make              0
Model             0
Year              0
HP               69
Cylinders        30
Transmission      0
Drive Mode        0
Vehicle Style     0
MPG-H             0
MPG-C             0
Popularity        0
Price             0
dtype: int64

---
#### 2.1.5. Handling missing values [3 marks]

- For the `HP` column, replace missing values with the column mean.


- Drop all other rows that still contain missing values.


- Display the final number of rows in the dataframe.

In [14]:
cars['HP'] = cars['HP'].fillna(cars['HP'].mean()) # Fills HP with the mean of HP

cars = cars.dropna() # Drops remaining missing values

print(f"Remaining rows: {len(cars)}")

Remaining rows: 11081

---

#### 2.1.6. Reasoning [3 marks]

In the previous step, we eliminated entries with missing data from the dataset.  If this dataset were to be used to train a machine learning model to predict vehicle prices, what is a potential drawback of this approach?  Describe an alternative approach and any related caveats of which we should be aware.

Filling in the missing values with the mean will allow us to use the dataset to train a machine learning model, however this approach means that the machine learning model's output may be skewed as a result. This is because the some HPs will may be overestimated and underestimated. Another method which we can use to fill in these values is using a technique called linear regression which works by finding the line of best fit for the data and using this to fill in the missing values. This method is more accurate than using the mean, however it is more computationally expensive.

<hr style="border:2px solid black"> </hr>

### 2.2. Creating New Columns

**[5 Marks]**

---

#### 2.2.1. Add `HP_Type` [2 marks]

Using an implementation of **list comprehension**, create a new column, `HP_Type`, such that,
- if a car's `HP` is greater than or equal to 300, `HP_Type` is 'high'.


- Otherwise, `HP_Type` is 'low'. 
    
Then, display the resulting `DataFrame`.

In [15]:
cars["HP_Type"] = cars["HP"].apply(lambda x: "high" if x >= 300 else "low")

cars.head(n=20)  # I am showing the first 20 rows of the dataframe

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price,HP_Type
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Coupe,26,19,3916,46135,high
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,40650,high
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,36350,high
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,29450,low
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,34500,low
5,BMW,1 Series,2012,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,31200,low
6,BMW,1 Series,2012,300.0,6.0,MANUAL,rear wheel drive,Convertible,26,17,3916,44100,high
7,BMW,1 Series,2012,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,39300,high
8,BMW,1 Series,2012,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,36900,low
9,BMW,1 Series,2013,230.0,6.0,MANUAL,rear wheel drive,Convertible,27,18,3916,37200,low
10,BMW,1 Series,2013,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,39600,high
11,BMW,1 Series,2013,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,19,3916,31500,low
12,BMW,1 Series,2013,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,44400,high
13,BMW,1 Series,2013,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,37200,low
15,BMW,1 Series,2013,320.0,6.0,MANUAL,rear wheel drive,Convertible,25,18,3916,48250,high
16,BMW,1 Series,2013,320.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,43550,high
17,Audi,100,1992,172.0,6.0,MANUAL,front wheel drive,Sedan,24,17,3105,2000,low
19,Audi,100,1992,172.0,6.0,AUTOMATIC,all wheel drive,Wagon,20,16,3105,2000,low
21,Audi,100,1992,172.0,6.0,MANUAL,all wheel drive,Sedan,21,16,3105,2000,low
22,Audi,100,1993,172.0,6.0,MANUAL,front wheel drive,Sedan,24,17,3105,2000,low

---

#### 2.2.2.  Add `Price_class` [2 marks]

Using an implementation of a **function**, create a new column, `Price_class`, such that it becomes equal to:
- 'high', if `Price` is greater than or equal to 50,000
- 'mid', if `Price` is between 30,000 (inclusive) and 50,000 (exclusive), and
- 'low', if `Price` is below 30,000.
    
Then, display the resulting `DataFrame`.

In [16]:
def calculate_price_class(price):
    if price >= 50000:
        return 'high'
    elif price >= 30000:
        return 'mid'
    else:
        return 'low'


cars['Price_class'] = cars['Price'].apply(calculate_price_class)

cars.head()

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price,HP_Type,Price_class
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Coupe,26,19,3916,46135,high,mid
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,40650,high,mid
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,36350,high,mid
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,29450,low,low
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,34500,low,mid

---

#### 2.2.3 Save modified data [1 mark]

Save the modified `DataFrame` to a new comma-separated file called `cardata_modified.csv` to be stored under the `data/Task1/` directory.

**Do not** include the row indices in the file.

In [17]:
cars.to_csv('data/Task1/cardata_modified.csv', index=False)

<hr style="border:2px solid black"> </hr>

### 2.3. Exploratory Data Analysis

**[15 Marks]**

---

#### 2.3.1. Mean price [1 mark]

Find the mean `Price` of all vehicles.  Report the solution rounded to 2 decimal places.

In [18]:
print(f"Mean Price: {cars['Price'].mean():.2f}")

Mean Price: 41957.25

---

#### 2.3.2. Count cars by year [1 mark]

Report the number of cars in each `Year`.

In [19]:
print(f"Number of cars in each year:\n{cars['Year'].value_counts()}")

Number of cars in each year:
2015    2048
2016    2046
2017    1598
2014     542
2009     356
2012     350
2007     334
2013     325
2008     322
2011     279
2010     276
2003     238
2004     235
2005     213
2002     205
2006     194
2001     168
1997     162
1993     159
1998     144
1992     127
1994     125
2000     115
1995     114
1999     114
1996     113
1991     102
1990      77
Name: Year, dtype: int64

---

#### 2.3.3. Unique Makes [1 mark]

Report a list of unique values of `Make`, sorted in ascending alphabetical order.

In [20]:
print(f"Makes:\n{sorted(set(cars['Make']))}") # Sorts a set of car makes to ensure it's unique

Makes:
['Acura', 'Alfa Romeo', 'Aston Martin', 'Audi', 'BMW', 'Bentley', 'Bugatti', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ferrari', 'Ford', 'GMC', 'Genesis', 'HUMMER', 'Honda', 'Hyundai', 'Infiniti', 'Kia', 'Lamborghini', 'Land Rover', 'Lexus', 'Lincoln', 'Lotus', 'Maserati', 'Maybach', 'Mazda', 'McLaren', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac', 'Porsche', 'Rolls-Royce', 'Saab', 'Scion', 'Spyker', 'Subaru', 'Suzuki', 'Tesla', 'Toyota', 'Volkswagen', 'Volvo']

---

#### 2.3.4. Fuel efficiency [2 marks]

Report the number of unique vehicle makers.

Display the mean `MPG-H` and mean `MPG-C` for each `Model` of  each `Make` in a `MultiIndex` `DataFrame`. Report the values rounded to 2 decimal places.

Verify that the expected number of vehicle makers are represented in the resulting `DataFrame`.

In [21]:
# Group the data by Make and Model and calculate the mean of MPG-H and MPG-C
mi_df = cars.groupby(['Make', 'Model'])[['MPG-H', 'MPG-C']].mean().round(2)

manufacturers_count = len(cars['Make'].unique())

# Gets the number of unique manufacturers in the new dataframe
expected_manufacturers_count = len(
    mi_df.index.get_level_values('Make').unique())

# Display the results
print(f"Unique manufacturers: {manufacturers_count}")
print(
    f"All manufacturers represented: {expected_manufacturers_count == manufacturers_count}")

mi_df.to_csv('data/cardata_means.csv')  # Save the grouped data to a CSV file
mi_df

Unique manufacturers: 48
All manufacturers represented: True

                  MPG-H  MPG-C
Make  Model
Acura CL          26.78  17.00
      ILX         35.12  24.62
      ILX Hybrid  38.00  39.00
      Integra     28.17  21.83
      Legend      23.19  16.00
...                 ...    ...
Volvo V90         23.00  16.00
      XC          23.00  17.00
      XC60        27.13  19.87
      XC70        27.50  20.17
      XC90        25.29  20.47

[923 rows x 2 columns]

---

#### 2.3.5. Cross-tabulation [2 marks]

Display in a single `DataFrame` the number of car entries for each `Drive Mode` and `Transmission` combination, with a `Total` column (showing the sum of the rows) and a `Total` row (showing the sum of the columns) in the `margins`.

In [22]:
cross_tab = pd.crosstab(cars['Drive Mode'], cars['Transmission']) # Crosstab of drive mode and transmission

cross_tab['Total'] = cross_tab.sum(axis=1) # sums all rows
cross_tab.loc['Total'] = cross_tab.sum() # sums all columns

cross_tab

Transmission,AUTOMATED_MANUAL,AUTOMATIC,DIRECT_DRIVE,MANUAL,UNKNOWN,Total
Drive Mode,,,,,,
all wheel drive,198,1897,11,202,0,2308
four wheel drive,0,979,0,291,2,1272
front wheel drive,231,2861,36,1209,4,4341
rear wheel drive,124,2101,11,918,6,3160
Total,553,7838,58,2620,12,11081

---

#### 2.3.6. Isolating specific features [1 mark]

Display data corresponding to the `Year` 2017 for Porsche's Macan model.

In [23]:
cars[(cars['Model'] == 'Macan') & (cars['Year'] == 2017)]

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price,HP_Type,Price_class
6630,Porsche,Macan,2017,360.0,6.0,AUTOMATED_MANUAL,all wheel drive,4dr SUV,23,17,1715,67200,high,high
6631,Porsche,Macan,2017,340.0,6.0,AUTOMATED_MANUAL,all wheel drive,4dr SUV,23,17,1715,54400,high,high
6632,Porsche,Macan,2017,400.0,6.0,AUTOMATED_MANUAL,all wheel drive,4dr SUV,23,17,1715,76000,high,high
6633,Porsche,Macan,2017,252.0,4.0,AUTOMATED_MANUAL,all wheel drive,4dr SUV,25,20,1715,47500,low,mid

---

#### 2.3.7. Isolating specific features [2 marks]

Display data corresponding to the `Year` 2015 for makers FIAT and Scion that have entries with automatic `Transmission` in a **single `DataFrame`**.

In [24]:
cars[(cars['Transmission'] == 'AUTOMATIC') & (
    cars['Year'] == 2015) & ((cars['Make'] == 'FIAT') | (cars['Make'] == 'Scion'))] # Finds all automatic vehicles made in 2015 that are Fiat or Scion

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price,HP_Type,Price_class
572,FIAT,500L,2015,160.0,4.0,AUTOMATIC,front wheel drive,Wagon,30,22,819,24695,low,low
4897,Scion,FR-S,2015,200.0,4.0,AUTOMATIC,rear wheel drive,Coupe,34,25,105,31090,low,mid
4898,Scion,FR-S,2015,200.0,4.0,AUTOMATIC,rear wheel drive,Coupe,34,25,105,26000,low,low
5962,Scion,iQ,2015,94.0,4.0,AUTOMATIC,front wheel drive,2dr Hatchback,37,36,105,15665,low,low
10312,Scion,tC,2015,179.0,4.0,AUTOMATIC,front wheel drive,2dr Hatchback,31,23,105,20360,low,low
10313,Scion,tC,2015,179.0,4.0,AUTOMATIC,front wheel drive,2dr Hatchback,31,23,105,24340,low,low
11548,Scion,xB,2015,158.0,4.0,AUTOMATIC,front wheel drive,Wagon,28,22,105,18070,low,low
11549,Scion,xB,2015,158.0,4.0,AUTOMATIC,front wheel drive,Wagon,28,22,105,19685,low,low

---

#### 2.3.8. Counting specific features [2 marks]

For BMWs with `Price` greater than 30,000, report the number of cars for each `Transmission` category.

In [25]:
bmw_filtered = cars[(cars['Make'] == 'BMW') & (cars['Price'] > 30_000)] # Gets all BMW Cars with a price of more tham 30,000
bmw_filtered['Transmission'].value_counts() # Gets counts of each transmission

AUTOMATIC           240
MANUAL               51
AUTOMATED_MANUAL     18
DIRECT_DRIVE          4
Name: Transmission, dtype: int64

---

#### 2.3.9. Grouping data [2 marks]

For 2017 data, show the minimum and maximum `Price`, as well as minimum and maximum `HP` for each `Make`.

Display the values as **integers** in a **single `DataFrame`**.

In [26]:
df_2017 = cars[cars['Year'] == 2017]
df_summary = df_2017.groupby('Make').agg({'Price': ['min', 'max'], 'HP': [
    'min', 'max']})

df_summary.astype(int)

               Price           HP
                 min     max  min  max
Make
Acura          27990  156000  201  573
Audi           31200  189900  186  610
BMW            33100  137000  170  600
Buick          21065   49625  138  310
Cadillac       34595   97795  265  640
Chevrolet      13000   92395   98  650
Chrysler       21995   45270  184  300
Dodge          20995  118795  173  707
FIAT           15990   31800  101  252
Ford           14130   68996  120  526
GMC            24070   71665  182  420
Genesis        41400   54550  311  420
Honda          15990   47070  130  280
Hyundai        17150   41150  128  293
Infiniti       33950   53300  208  400
Kia            14165   45700  138  290
Land Rover     37695   62500  240  240
Lexus          31250   89380  134  467
Lincoln        32720   76645  240  380
Lotus          91900   91900  400  400
Maserati       71600  145500  345  523
Mazda          17845   30695  146  184
Mercedes-Benz  32400  247900  177  621
Mitsubishi     12995   31695   78  224
Nissan         11990  109990  109  565
Porsche        47500  200400  252  580
Subaru         18395   39995  148  305
Toyota         15250   84325  106  381
Volkswagen     17895   60195  150  292
Volvo          33950   57200  240  316

---

#### 2.3.10. Reporting extreme values [1 mark]

Determine which `Make` has the highest mean `Price`.  Display this `Make` and its corresponding mean `Price` (rounded to 2 decimal places).

In [27]:
ascending_prices = cars[['Make', 'Price']].groupby('Make').mean().sort_values(
    by='Price', ascending=False)

print(
    f"Make: {ascending_prices.iloc[0].name} | Average Price: {ascending_prices.iloc[0].Price:.2f}")

Make: Bugatti | Average Price: 1757223.67

<hr style="border:2px solid black"> </hr>
<h2 style="color:Crimson;">Task 3</h2>

**[40 Marks]**

![Bracket](images/Bracket.png)

Design a `Tournament` class to represent **teams** of car efficiency enthusiasts that can collect an **inventory** of fuel efficient cars by finding sponsorship from car makers. 

Once **sponsors** are arranged and teams are formed, teams will **compete** by facing off head-to-head (pairwise, bracket-style) until only one `Tournament.champion` prevails. 

Competitors perform by driving each car in their inventory the distance that **1 gallon** of fuel will permit them to travel in **highway** situations.  

The **winning team** of a match will have collectively driven their vehicles the furthest.  That is, the sum of the `MPG-H` ratings in their inventory will be the **score** that decides the winner.

---
#### 3.1 Prepare data [5 marks]

Begin with the data you have saved in the  `cardata_modified.csv` file.  

Read in and modify this data so that:
- The `Price`s are rounded to the **nearest $100**.
- Only cars made **after the `Year` 2000** are retained in the `DataFrame`.
- Only car `Make`rs with **more than 55 entries** in the dataset are retained in the `DataFrame`.

**Teams will be able to choose cars for their inventory from this modified `DataFrame`.**

In [28]:
cars = pd.read_csv('data/Task1/cardata_modified.csv')

# Round the price to the nearest hundred using floor division
cars['Price'] = cars['Price'] // 100 * 100

# Select only the cars that are newer than 2000
cars = cars[(cars['Year'] > 2000)]

# Group the cars by Make and filter out the groups that have less than 55 cars
cars = cars.groupby('Make').filter(lambda x: len(x) > 55)

cars

,Make,Model,Year,HP,Cylinders,Transmission,Drive Mode,Vehicle Style,MPG-H,MPG-C,Popularity,Price,HP_Type,Price_class
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,Coupe,26,19,3916,46100,high,mid
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Convertible,28,19,3916,40600,high,mid
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,Coupe,28,20,3916,36300,high,mid
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Coupe,28,18,3916,29400,low,low
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,Convertible,28,18,3916,34500,low,mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11076,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,4dr Hatchback,23,16,204,46100,high,mid
11077,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,4dr Hatchback,23,16,204,56600,high,high
11078,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,4dr Hatchback,23,16,204,50600,high,high
11079,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,all wheel drive,4dr Hatchback,23,16,204,50900,high,high
11080,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,front wheel drive,Sedan,26,17,61,28900,low,low

---
#### 3.2. Define a `Tournament` class [30 marks]


Your are to translate **these requirements** (with consideration of their usage, defined in **3.3** and **3.4**) into working code.



**Overall**: Coding efficiency and structure, including comments and docstrings, where appropriate, will contribute to the mark in this section.

- The class is initialised with:
    - a `DataFrame` of **cars**, as designed above
        - **No missing values** are permitted.
    - a tournament **name**
    - an **optional number of competing teams**, defaulting to 16.
        - If the input number of teams is not an integer, `raise` the appropriate kind of exception, and a message saying, "The number of teams must be an integer."
        - Also, `assert` that the value is positive and non-zero.
        - Ensure that this number is a **perfect square**.
    - Include sensible object representation dunder methods (i.e. `__repr__` and `__str__`).
$$$$
- There is a method to `generate_sponsors`.
    - The method, by default, **randomly selects a sponsor** for each team from the available list of `Make`rs (with no duplicates).
    - It **accepts a list of specified sponsors as an optional argument** with a length up to the number of teams.
        - If the supplied list is shorter, the remainder of the teams will be set random sponsors, as in the default case.
    - Once sponsors are selected, the sponsor **randomly allocates a budget** in some suitably chosen range of incremental integer values defined by `low`, `high`, and `incr` parameters to this `generate_sponsors` method.  Choose sensible default values for these.
    - Store the resulting sponsor and budget information as attributes of the `Tournament` class.$$$$    

- There is a method to `generate_teams`.
    - This method should simply populate a list of `Team`s in the `Tournament` class.$$$$
    

- The teams are members of the `Team` class, a class **internal to the `Tournament` class**.
    - A `Team` object holds information about its:
        - sponsor
        - budget
        - inventory
        - `active` status, i.e. whether they are eligible to compete in the next round of the tournament.
        - performance record (e.g., win/loss, score, number of cars they used in competition)
    - This class has some kind of `__str__` representation.
    - Be thoughtful about which of these characteristics are mutable and how to change them if they are not mutable.
$$$$
- There is a method to `buy_cars`.
    - This method will allow the `Team`s to each purchase their initial inventory.
$$$$
- There is a method to `_purchase_inventory`.
    - This internal method takes 1 argument: a single `Team` object.
    - With the information provided by the `Team`, isolate cars that are available from the **sponsoring `Make`r**.  
    - Considering the `Team` budget, select the set of cars representing the **optimal choice**.  That is, purchase as many cars as the budget permits, while trying to **maximise `MPG-H`**.  
        - For more comprehensive implementations of this combinatorial optimisation problem, expect this to be the **most computationally expensive** part of this sub-task.  It can reasonably require a few seconds to perform the optimal selection.
    - When these are selected, the `Team`'s budget and inventory should be updated.
$$$$    
- There is a method to `hold_event` (i.e., execute the tournament competition process).
    - Cycle through the pairwise matches, keeping track of `Team` performance metrics.
        - The teams will compete in a head to head match and either continue on or be **eliminated**.
    - After each match, allocate a **financial prize** to the winning `Team`.  You can decide how to implement this; perhaps the prize increases in every round, but it must be enough to allow them to take the next step...
    - After awarding the prize, allow the `Team` to `_purchase_inventory` again (increasing the number of cars in their inventory) before the next match.  
        - Newly purchased cars can be duplicates of members of the `Team`'s existing inventory, but only one any kind of car is permitted to be purchased in an individual `_purchase_inventory` action.
    - At the end of the tournament event, record the `Tournament.champion` `Team`.

In [29]:
# Imports required libraries. Warnings is to suppress warnings about future changes to pandas
import random
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


class Team: 
    """
    Team object which contains all the information about a team.

    Attributes:
    - sponsor (str): The sponsor of the team.
    - budget (int): The budget of the team.
    - inventory (pd.DataFrame): The DataFrame containing the cars the team has purchased.
    - active (bool): Whether the team is still active in the tournament.
    - performance_record (list): The list of the team's performance in the tournament.
    - current_max_distance (int): The current maximum distance the team has achieved.
    """
    
    def __init__(self, sponsor: str, budget: int):
        self.sponsor = sponsor
        self.budget = budget
        self.inventory = pd.DataFrame()
        self.active = True
        self.performance_record = list()
        self.current_max_distance = 0

    def __str__(self):
        return f'is the {self.sponsor} team with a budget of ${self.budget} and {self.inventory.shape[0]} cars'
    
    def evaluate_performance(self):
        if len(self.inventory) == 0:
            self.active = False
            return
        self.current_max_distance = self.inventory['MPG-H'].sum()


class Tournament:
    """
    Represents a tournament where teams compete against each other.
    
    Attributes:
    - cars (pd.DataFrame): The DataFrame containing car information.
    - name (str): The name of the tournament.
    - number_of_teams (int): The number of teams participating in the tournament.
    - sponsors (list): The list of sponsors for the teams.
    - budgets (list): The list of budgets for the teams.
    - teams (list): The list of teams participating in the tournament.
    - records (list): The list of the teams who have lost.
    - champion (Team): The champion team of the tournament.
    - prize (int): The prize amount for winning the match.
    """
    
    def __init__(self, cars: pd.DataFrame, name: str, number_of_teams=16):
        if cars.isnull().any().any():
            raise ValueError('DataFrame cannot contain null values')
        
        if type(number_of_teams) != int:
            raise TypeError('Team size must be an integer')

        if number_of_teams <= 0:
            raise ValueError('Team size must be greater than 0')

        if number_of_teams ** 0.5 % 1 != 0:
            raise ValueError('Team size must be a perfect square')

        self.cars = cars
        self.name = name

        self.number_of_teams = number_of_teams

        self.__sponsors = []
        self.__budgets = []
        self.__teams = list()
        self.__records = list()
        self.champion = None

        # The prize starts at 10,000 and increases by 10,000 after each match
        self.__prize = 10_000

    def __repr__(self):
        return f'{type(self).__qualname__}({self.cars}, {self.name}, {self.number_of_teams}, {self.__sponsors}, {self.__budgets})'

    def __str__(self):
        return f'Tournament: {self.name} | Team Count: {self.number_of_teams}\nSponsors: {self.__sponsors}\nBudgets: {self.__budgets}'

    def generate_sponsors(self, sponsors: list = list(), low=200_000, high=1_000_000, increment=5_000):
        if len(sponsors) > self.number_of_teams:
            raise ValueError(
                'Number of sponsors cannot be greater than the team count')
        
        # Generate a list of unique sponsors
        potential_sponsors = list(self.cars['Make'].unique())

        # Takes the already passed sponsors and adds more sponsors until it reaches the team count
        while len(sponsors) < self.number_of_teams:
            random_sponsor = random.choice(potential_sponsors)
            sponsors.append(random_sponsor)
            potential_sponsors.remove(random_sponsor)

        self.__sponsors = sponsors

        budgets = []

        # Generates a random budget for each sponsor
        for sponsor in sponsors:
            budgets.append(random.randrange(low, high, increment))

        self.__budgets = budgets

    def generate_teams(self):
        teams = list()

        for sponsor, budget in zip(self.__sponsors, self.__budgets):
            teams.append(Team(sponsor, budget))

        self.__teams = teams

    def buy_cars(self):
        for team in self.__teams:
            self.__purchase_inventory(team)

    ## This uses a greedy approach by the car with the highest MPG-H first
    def __purchase_inventory(self, team: Team):
        cars = self.cars[self.cars['Make'] == team.sponsor].sort_values(axis=0, by='MPG-H', ascending=False)

        # Iterates over the cars and purchases them until the team runs out of money or cars
        while team.budget > 0 and cars.__len__() > 0:
            # Gets the first car in the list and its price (the highest MPG-H)
            car = cars.iloc[0]
            car_price = car['Price']

            # Checks if the team can afford the car
            if team.budget - car_price >= 0:
                # If they can, the car is added to the team's inventory and the budget is updated
                team.inventory = team.inventory.append(car)
                team.budget -= car_price

                # The car is removed from the list of cars as not to purchase the same car twice
                cars = cars.iloc[1:]
            else:
                break
        
        team.evaluate_performance()

    def hold_event(self):

        # Creates an empty list of matches
        matches = list()

        while len(self.__teams) > 1:
            # Creates a list of tuples of teams to match up
            for i in range(0, len(self.__teams), 2):
                matches.append((self.__teams[i], self.__teams[i+1]))

            # Iterates over the list of matched teams and holds a match between them     
            while len(matches) > 0:
                team1, team2 = matches.pop()

                winner, loser = self.__hold_match(team1, team2)

                # The loser is removed from the teams list and added to the records list
                self.__records.append(loser)
                self.__teams.remove(loser)

                # The winner is given the prize money and the inventory is updated
                winner.budget += self.__prize
                self.__purchase_inventory(winner)

            # The prize money increases by 5,000 after each match
            self.__prize += 10_000
        
        # The last team standing is the champion
        self.champion = self.__teams[0]
        self.__records.append(self.champion)

    def __hold_match(self, team1: Team, team2: Team):
        # Compares the current max distance of each team and returns the winner and loser. Also appends to their performance records and deactivates the loser
        if team1.current_max_distance > team2.current_max_distance:
            team1.performance_record.append('W')
            team2.performance_record.append('L')
            team2.active = False
            return team1, team2
        elif team1.current_max_distance < team2.current_max_distance:
            team1.performance_record.append('L')
            team1.active = False
            team2.performance_record.append('W')
            return team2, team1
    
    def show_win_records(self):
        for team in self.__records:
            print(f'{team.sponsor}: {team.performance_record}')
        
        print(f'{self.champion.sponsor} is the champion!')

#### 3.3. Execute your `Tournament` class [5 marks]
- The process of building and executing the stages associated with the tournament will look like this:
```python
t1 = Tournament(car, "The First Folks")
t1.generate_sponsors()
t1.generate_teams()
t1.buy_cars()
t1.hold_event()
print(f'The champion of {t1.name} Tournament is the {t1.champion}')
```
```
...
The champion of The First Folks Tournament is the Team sponsored by Nissan with $32000 available and 32 cars.
```

- Produce some visual (e.g., printed or plotted) record of the `Tournament` matches by invoking the `show_win_record` method:
```python
t1.show_win_record()
```
```
...

           Scion: ['W     ', 'W     ', 'L     ']
          Suzuki: ['L     ']
          Subaru: ['W     ', 'L     ']
      Land Rover: ['L     ']
          Nissan: ['W     ', 'W     ', 'W     ', 'W     ']
           Dodge: ['L     ']
           Lexus: ['L     ']
            Saab: ['W     ', 'L     ']
   Mercedes-Benz: ['L     ']
           Buick: ['W     ', 'L     ']
      Volkswagen: ['W     ', 'W     ', 'L     ']
      Oldsmobile: ['L     ']
         Hyundai: ['W     ', 'W     ', 'W     ', 'L     ']
        Infiniti: ['L     ']
        Cadillac: ['L     ']
             BMW: ['W     ', 'L     ']
```

In [30]:
t1 = Tournament(cars, "The First Folks")
t1.generate_sponsors()
t1.generate_teams()
t1.buy_cars()
t1.hold_event()
print(f'The champion of {t1.name} Tournament is the {t1.champion}')

t1.show_win_records()

The champion of The First Folks Tournament is the is the Suzuki team with a budget of $11400 and 58 cars
Mazda: ['L']
Volvo: ['L']
Mercedes-Benz: ['L']
Subaru: ['L']
Audi: ['L']
Chrysler: ['L']
GMC: ['L']
Buick: ['L']
FIAT: ['W', 'L']
Hyundai: ['W', 'L']
Saab: ['W', 'L']
Acura: ['W', 'L']
Pontiac: ['W', 'W', 'L']
Toyota: ['W', 'W', 'L']
Nissan: ['W', 'W', 'W', 'L']
Suzuki: ['W', 'W', 'W', 'W']
Suzuki is the champion!

#### 3.4. Compare the results of multiple `Tournament` executions [5 marks]
- Lastly, **execute 2 `Tournaments`** in full.  
- Compare the performance of their `.champion`s and produce a ranked representation of the different `Tournaments`.  For example, when we rank tournaments by the score of their overall champion, we might produce:
```
Tournament ranking:
Position     Name                     Sponsor                  Score
1            The Other Group          Chevrolet                2044
2            The First Folks          Nissan                   1737
```

In [31]:
t2 = Tournament(cars, "The Second Folks")
t2.generate_sponsors()
t2.generate_teams()
t2.buy_cars()
t2.hold_event()

tournaments = sorted([t1, t2], key=lambda x: x.champion.current_max_distance, reverse=True)

print("{:<15}{:<20}{:<15}{:<15}".format("Position", "Name", "Sponsor", "Score"))
index = 1
for tournament in tournaments:
    print("{:<15}{:<20}{:<15}{:<15}".format(index, tournament.name, tournament.champion.sponsor, tournament.champion.current_max_distance))
    index += 1

Position       Name                Sponsor        Score
1              The First Folks     Suzuki         1874
2              The Second Folks    Nissan         1873